In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('heart_failure_clinical_records_dataset.csv')
df

      age  anaemia  creatinine_phosphokinase  ...  smoking  time  DEATH_EVENT
0    75.0        0                       582  ...        0     4            1
1    55.0        0                      7861  ...        0     6            1
2    65.0        0                       146  ...        1     7            1
3    50.0        1                       111  ...        0     7            1
4    65.0        1                       160  ...        0     8            1
..    ...      ...                       ...  ...      ...   ...          ...
294  62.0        0                        61  ...        1   270            0
295  55.0        0                      1820  ...        0   271            0
296  45.0        0                      2060  ...        0   278            0
297  45.0        0                      2413  ...        1   280            0
298  50.0        0                       196  ...        1   285            0

[299 rows x 13 columns]

In [ ]:
df.info() #Todos los registros están llenos, no hay valores NA

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

In [ ]:
print("Númeo de filas:", len(df))
print("Númeo de columnas:", len(df.columns))
print("Total de datos:", len(df)*len(df.columns))
df.count()

Númeo de filas: 299
Númeo de columnas: 13
Total de datos: 3887

age                         299
anaemia                     299
creatinine_phosphokinase    299
diabetes                    299
ejection_fraction           299
high_blood_pressure         299
platelets                   299
serum_creatinine            299
serum_sodium                299
sex                         299
smoking                     299
time                        299
DEATH_EVENT                 299
dtype: int64

In [ ]:
print("Nombres de columnas:", df.columns.values.tolist())

Nombres de columnas: ['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes', 'ejection_fraction', 'high_blood_pressure', 'platelets', 'serum_creatinine', 'serum_sodium', 'sex', 'smoking', 'time', 'DEATH_EVENT']

In [ ]:
print("Media de cada variable:") 
for colN in df.columns:
  print(colN, ": ", df[colN].mean())

Media de cada variable:
age :  60.83389297658862
anaemia :  0.431438127090301
creatinine_phosphokinase :  581.8394648829432
diabetes :  0.4180602006688963
ejection_fraction :  38.08361204013378
high_blood_pressure :  0.3511705685618729
platelets :  263358.02926421416
serum_creatinine :  1.393879598662207
serum_sodium :  136.62541806020067
sex :  0.6488294314381271
smoking :  0.3210702341137124
time :  130.2608695652174
DEATH_EVENT :  0.3210702341137124

In [ ]:
print("Mediana de cada variable:") #Vemos que para valores booleanos no funcionan para representar un resultado con este metodo
for colN in df.columns:
  print(colN, ": ", df[colN].median())

Mediana de cada variable:
age :  60.0
anaemia :  0.0
creatinine_phosphokinase :  250.0
diabetes :  0.0
ejection_fraction :  38.0
high_blood_pressure :  0.0
platelets :  262000.0
serum_creatinine :  1.1
serum_sodium :  137.0
sex :  1.0
smoking :  0.0
time :  115.0
DEATH_EVENT :  0.0

In [ ]:
print("Moda de cada variable:") 
for colN in df.columns:
  print(colN, ": ", pd.Series(df[colN].values.flatten()).mode()[0])

Moda de cada variable:
age :  60.0
anaemia :  0
creatinine_phosphokinase :  582
diabetes :  0
ejection_fraction :  35
high_blood_pressure :  0
platelets :  263358.03
serum_creatinine :  1.0
serum_sodium :  136
sex :  1
smoking :  0
time :  187
DEATH_EVENT :  0

In [ ]:
print("Max") 
for colN in df.columns:
  print(colN, ": ", max(df[colN]))

Max
age :  95.0
anaemia :  1
creatinine_phosphokinase :  7861
diabetes :  1
ejection_fraction :  80
high_blood_pressure :  1
platelets :  850000.0
serum_creatinine :  9.4
serum_sodium :  148
sex :  1
smoking :  1
time :  285
DEATH_EVENT :  1

In [ ]:
print("Min")
for colN in df.columns:
  print(colN, ": ", min(df[colN]))

Min
age :  40.0
anaemia :  0
creatinine_phosphokinase :  23
diabetes :  0
ejection_fraction :  14
high_blood_pressure :  0
platelets :  25100.0
serum_creatinine :  0.5
serum_sodium :  113
sex :  0
smoking :  0
time :  4
DEATH_EVENT :  0